body{
    padding: 0;
    box-sizing: border-box;
    background: url('../images/paperBg.jpg')
}
.container{
    padding: 20px 100px;
}
.bio{
    margin: 2rem;
    height: 40vh;
    padding: 2rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 1%;
}
.bio img{
    height: 40vh;
    width: auto;
    float: left;
}
.bio .description{
    padding: 2rem;
    text-align: center;
}
.about{
    margin: 2rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 1%;
}
.about .hobbies{
    margin: 2rem;
}
.project{
    margin: 2rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 1%;
}
.project ol li a{
    text-decoration: none;
    color: rgb(3, 21, 73);
    font-weight: 900;
}


